#registro {
    background-color: #008A45;
    color: #ffffff;
    border-width: 2px;
    border-color: black;
    border-radius: 50px;
}

#registro:hover {
    background-color: #ffffff;
    color: rgb(4, 129, 0);
    transition: background-color 0.3s, color 0.3s;
}

.card_shadow {
    border: 1.5px solid #000000 !important;
    /* Borde de la card */
    border-radius: 25px !important;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.img_login_first {
    width: 50%;
}

.img_login_second {
    width: 75%;
}

.input_login {
    color: #008A45 !important;
}

.input_login_checkbox {
    color: #008A45;
    font-weight: bold;
}

/* Estilos básicos del checkbox */
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-checkbox .checkbox-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    /* Color por defecto */
    border: 2px solid #ccc;
}

.custom-checkbox input[type="checkbox"]:checked+.checkbox-box {
    background-color: #008A45;
    /* Color cuando está marcado */
    border-color: #008A45;
}

.custom-checkbox .checkbox-box::after {
    content: '';
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+.checkbox-box::after {
    display: block;
}

.input_text_login {
    border-radius: 30px !important;

}

.input_text_login:focus-visible {
    border: 5px solid #000000 !important;
}

.img_input {
    width: 30px;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-container img {
    position: absolute;
    top: 50%;
    left: 10px;
    /* Ajusta según el espacio necesario */
    transform: translateY(-50%);
    width: 20px;
    /* Ajusta el tamaño del ícono */
    height: 20px;
    /* Ajusta el tamaño del ícono */
    pointer-events: none;
    /* Evita que el ícono interfiera con el clic en el campo de entrada */
}

.input-container input {
    padding-left: 40px;
    /* Ajusta el relleno para dejar espacio para el ícono */
    width: 100%;
    /* Asegura que el input ocupe el espacio del contenedor */
}

.microsoftButtom {
    height: 20px;
    margin: auto;
}

/* Estilos para pantallas menores a 758px */
@media (max-width: 800px) {

    .img_login_first {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}